body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #242222;
  padding: 20px;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 204, 161);
  padding: 15px;
  border-radius: 5%;
}

.item__typeOf {
  display: flex;
  list-style: none;
}

.list__typeOf {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.list__task3 {
  list-style: none;
  margin-right: 10px;
}

.img__task3 {
  width: 300px;
  height: 200px;
  margin: 0;
  border: 4mm ridge #3e568e;
  border-radius: 15%;
  cursor: pointer;
}
.list__task2 {
  list-style: none;
  display: flex;
  justify-content: center;
}
.contaentEl {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 150px;
  border: 1px solid black;
  border-radius: 7%;
}
.gallery {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.return {
  display: inline-block;
  padding: 10px 17px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7a7d93;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.return:hover {
  background-color: #1f5c69;
}

.return:active {
  background-color: #3e568e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.p {
  display: flex;
  padding: 0 0 20px 0;
}

.btnDec {
  display: inline-block;
  padding: 7px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7a7d93;
  /* border: none; */
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
.btnDec:hover {
  background-color: #ab1d1d;
}

.btnDec:active {
  background-color: #3e568e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btnInc {
  display: inline-block;
  padding: 7px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7a7d93;
  /* border: none; */
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.btnInc:hover {
  background-color: #1da33e;
}

.btnInc:active {
  background-color: #3e568e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btnReset {
  display: inline-block;
  margin: 15px;

  padding: 7px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7a7d93;
  /* border: none; */
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.btnReset:hover {
  background-color: #1d57a3;
}

.btnReset:active {
  background-color: #3e568e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.validation-input {
  border: 3px solid #bdbdbd;
}

.validation-input.valid {
  border-color: #4caf50;
}

.validation-input.invalid {
  border-color: #f44336;
}
